# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive Terraform variable files
terraform.tfvars
*.auto.tfvars

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
